<h1> Game Menu </h1>
<%- include ('./partials/messages') %>
<ul>
    <li>Friends</li>
    <li>Online</li>
    <li></li>
    <li>Offline</li>
    <li></li>
</ul>

<div id="host">HOST</div>
<div id="join">JOIN</div>
<% if (state) { %>
    <% console.log(state) %>   
    <a href="/users/lobby" class="nav-right">DEV_TEST</a>
<% } %>