<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
<body>
<nav>
    <img id="nav-logo" src="/images/logo.jpg">
    <a href="/users/dashboard" class="nav-right">home</a>
    <a href="/users/game_menu" class="nav-right">game</a>
    <span class="nav-right">support</span>
    <span class="nav-right">settings</span>
    <a href="/users/logout" class="nav-right">logout</a>
</nav> 
<hr>
<!-- <script src="/js/background.js"></script> -->
<%- body %>
</body>
</html>